<h1>Контакты</h1>
<div class="row">
  <div class="col-xs-12">


    <div class="main-box-body clearfix">
      <div id="search_options">
        <%= link_to "Поиск по местам", geocoding_path, remote: true, id: "geocoding"%>

      </div>
      <div id="map-container">
        <div id="map-canvas"></div>

        <div id="geocoding_fields">
          <%= text_field_tag :search, params[:search], placeholder: "Введите место", :id => 'search_box_geocoding', class: 'search_box' %>
          <%= button_tag "Найти", id: "submit_button_geocoding", data: { disable_with: "Please wait..." }, class: "submit_button" %>
        </div>

      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-lg-8">
    <div class="main-box">

      <header class="main-box-header clearfix">
        <h2>Напишите нам</h2>
      </header>

      <div class="main-box-body clearfix">
        <form role="form">
          <div class="form-group">
            <label for="exampleInputEmail1">ФИО</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Иванов Иван Иванович">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Ваш Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="ivanov@in.ru">
          </div>

          <div class="form-group">
            <label for="exampleTextarea">Ваш вопрос</label>
            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
          </div>

          <button type="submit" class="btn btn-primary">Отправить</button>




        </form>
      </div>
    </div>
  </div>
</div>

























